#manage-item {

    #tbl-items th:first-child, #tbl-items td:first-child{
      width: 100px;
      text-align: center;
    }
  
    #tbl-items th:nth-child(3), #tbl-items td:nth-child(3){
      width: 100px;
      text-align: center;
    }
  
    #tbl-items th:last-child, #tbl-items td:last-child{
      width: 80px;
      text-align: center;
    }
  
    .card{
      height: 100%;
    }
  
    .pagination{
      justify-content: flex-end;
    }
  
  }