<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 col-12">
                    <h1 class="m-0 text-dark">Manage Customers</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 col-12 mt-sm-0 mt-2">
                    <ol class="breadcrumb float-sm-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#cusexampleModal">
                <span class="icon pr-2">
                  <i class="fas fa-plus-circle"></i>
                </span>
                            New Customer
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="cusexampleModal" tabindex="-1" aria-labelledby="cusexampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="cusexampleModalLabel">New Customer</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="txt-id">Customer ID</label>
                                                    <input type="email" class="form-control" id="txt-id">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="txt-name">Customer Name</label>
                                                    <input type="password" class="form-control" id="txt-name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txt-address">Address</label>
                                                <input type="text" class="form-control" id="txt-address" placeholder="1234 Main St">
                                            </div>
                                            <div class="form-group">
                                                <label for="cusinputGroupFile01">Profile Picture</label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="cusinputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                                    <label class="form-control custom-file-label" for="cusinputGroupFile01">Choose Profile Photo</label>
                                                </div>
                                            </div>
                                            <button id="btn-save-customer" type="button" class="btn btn-primary">Save Customer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Customers<span id="cus-count" class="badge badge-info ml-2">0</span>
                </h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="col-12 col-lg-12">
                  
                    <table id="tbl-customers" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                       
                </div>
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>