<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 col-12">
                    <h1 class="m-0 text-dark">Manage Customers</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 col-12 mt-sm-0 mt-2">
                    <ol class="breadcrumb float-sm-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal">
                <span class="icon pr-2">
                  <i class="fas fa-plus-circle"></i>
                </span>
                            New Customer
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="cusexampleModal" tabindex="-1" aria-labelledby="cusexampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="cusexampleModalLabel">New Customer</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputfirstname4">First Name</label>
                                                    <input type="email" class="form-control" id="inputfirstname4">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputlastname4">Last Name</label>
                                                    <input type="password" class="form-control" id="inputlastname4">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputAddress">Address</label>
                                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputAddress2">Address 2</label>
                                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                            </div>
                                            <div class="form-group">
                                                <label for="cusinputGroupFile01">Profile Picture</label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="cusinputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                                    <label class="form-control custom-file-label" for="cusinputGroupFile01">Choose Profile Photo</label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Save Customer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger mr-2">
                <span class="icon pr-2">
                  <i class="fas fa-trash"></i>
                </span>
                            Delete Customers
                        </button>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Customers<span class="badge badge-info ml-2">2</span>
                </h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <table class="table projects table-head-fixed table-hover bg-white">
                    <thead>
                    <tr>
                        <th>
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
                            </button>
                        </th>
                        <th>
                            Customer ID
                        </th>
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Customer Address
                        </th>
                        <th>
                            Display Photo
                        </th>
                        <th>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="icheck-primary">
                                <input type="checkbox" value="" id="cuscheck1">
                                <label for="cuscheck1"></label>
                            </div>
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            <a>
                                Lucky
                            </a>
                            <br/>
                            <small>
                                Prabath
                            </small>
                        </td>
                        <td>
                            <a>
                                Galle
                            </a>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img id="avatar-1" src="../../assets/avatar.png" alt="Avatar" class="table-avatar">
                                </li>
                            </ul>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="icheck-primary">
                                <input type="checkbox" value="" id="cuscheck2">
                                <label for="cuscheck2"></label>
                            </div>
                        </td>
                        <td>
                            2
                        </td>
                        <td>
                            <a>
                                Danuka
                            </a>
                            <br/>
                            <small>
                                Ashan
                            </small>
                        </td>
                        <td>
                            <a>
                                Hambanthota
                            </a>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img id="avatar-2" src="../../assets/avatar04.png" alt="Avatar" class="table-avatar">
                                </li>
                            </ul>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>