/**
 * @author : Suchira Liyanage <suchiraliyanage94@gmail.com>
 * @since : 14/12/2020
**/

#manage-customer {

    #tbl-customers th:first-child, #tbl-customers td:first-child{
      width: 10%;
      text-align: center;
    }

    #tbl-customers th:nth-child(4), #tbl-customers td:nth-child(4){
        width: 100px;
        text-align: center;
      }
  
    #tbl-customers th:last-child, #tbl-customers td:last-child{
      width: 10%;
      text-align: center;
    }
  
    .card{
      height: 100%;
    }
  
    .pagination{
      justify-content: flex-end;
    }
  
  }
  